
@import "../../style.scss"; // Import the main style definitions and theme mixins

@include themify($themes) {
  .updateProfile-section {
    position : absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    // height: 50%;
    background-color: themed(bgSoft);
    padding: 50px;
    z-index: 999;
    
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input[type="file"] {
        display: block;
        margin: 10px 0;
      }

      input[type="text"] {
        padding: 10px;
        border: 1px solid themed(border);
        border-radius: 4px;
        background-color: themed(bgSoft);
        color: themed(textColor);
        font-size: 14px;
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 4px;
        color: #fff;
        background-color: themed(bg); 
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
        &:hover {
          background-color: themed(blue);
        }
      }
    }

    button.cancel {
      background-color: themed(border); 
      color: themed(textColor);
      margin-top: 10px;

      &:hover {
        background-color: darken(themed(border), 10%);
      }
    }
  }
}
